<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Masha</string>
		<key>lastname</key>
		<string>Maryanovna</string>
		<key>avatar</key>
		<string>User1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grisha</string>
		<key>lastname</key>
		<string>Gorginov</string>
		<key>avatar</key>
		<string>User2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Danil</string>
		<key>lastname</key>
		<string>Daunilov</string>
		<key>avatar</key>
		<string>User3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kostya</string>
		<key>lastname</key>
		<string>Krivonos</string>
		<key>avatar</key>
		<string>User4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kristina</string>
		<key>lastname</key>
		<string>Veres</string>
		<key>avatar</key>
		<string>User5.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vasya</string>
		<key>lastname</key>
		<string>Petrov</string>
		<key>avatar</key>
		<string>User6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marina</string>
		<key>lastname</key>
		<string>Moroz</string>
		<key>avatar</key>
		<string>User7.jpeg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kiril</string>
		<key>lastname</key>
		<string>Pristupin</string>
		<key>avatar</key>
		<string>User8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Danya</string>
		<key>lastname</key>
		<string>Baranov</string>
		<key>avatar</key>
		<string>User9</string>
	</dict>
</array>
</plist>
